<!DOCTYPE html>
<html lang="es-PE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/kawsay.css">
    <title>Inicio | Kawsay</title>
</head>
<body>
    <!-- Menú de navegación-->
    <nav class="navbar navbar-expand-md navbar-dark fondo-2 sticky-top">
        <a href="" class="navbar-brand d-sm-none">
            <img src="img/brand.png" width="100" height="100" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menukawsay" aria-controls="menukawsay" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menukawsay">
            <div class="navbar-nav letra-m pl-md-3">
                <a href="index.html" class="nav-item nav-link">Inicio</a>
                <a href="nosotros.html" class="nav-item nav-link">Nosotros</a>
                <a href="productos.html" class="nav-item nav-link active">Productos</a>
                <a href="contacto.html" class="nav-item nav-link">Contacto</a>
            </div>
        </div>
    </nav>
    <!-- Contenido Productos-->
    <section class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex d-md-flex my-2 my-md-4">
                <img class="logo-productos mr-2 mr-md-4" src="img/tradicionales.svg" width=100 height=100 alt="">
                <h2 class="align-self-center">Tradicionales</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                <div class="card-columns">
                    <div class="card">
                        <img class="img-fluid card-img-top" src="img/fondo.jpeg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Prueba</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione.</p>
                        </div>
                        <hr class="my-0 py-0">
                        <div class="d-flex px-3 pb-3 pt-3 align-items-center justify-content-between fondo-4">
                            <h6 class="align-self-center my-auto">Precio</h6>
                            <a href="http://www.google.com" target="_blank" class="card-link text-white font-weight-bolder comprar">Comprar</a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="img-fluid card-img-top" src="img/anis.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Prueba</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione.</p>
                        </div>
                        <hr class="my-0 py-0">
                        <div class="d-flex px-3 pb-3 pt-3 align-items-center justify-content-between fondo-4">
                            <h6 class="align-self-center my-auto">Precio</h6>
                            <a href="http://www.google.com" target="_blank" class="card-link text-white font-weight-bolder comprar">Comprar</a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="img-fluid card-img-top" src="img/cedron.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Prueba</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione.</p>
                        </div>
                        <hr class="my-0 py-0">
                        <div class="d-flex px-3 pb-3 pt-3 align-items-center justify-content-between fondo-4">
                            <h6 class="align-self-center my-auto">Precio</h6>
                            <a href="http://www.google.com" target="_blank" class="card-link text-white font-weight-bolder comprar">Comprar</a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="img-fluid card-img-top" src="img/manzanilla.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Prueba</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione.</p>
                        </div>
                        <hr class="my-0 py-0">
                        <div class="d-flex px-3 pb-3 pt-3 align-items-center justify-content-between fondo-4">
                            <h6 class="align-self-center my-auto">Precio</h6>
                            <a href="http://www.google.com" target="_blank" class="card-link text-white font-weight-bolder comprar">Comprar</a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="img-fluid card-img-top" src="img/rosas.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Prueba</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione.</p>
                        </div>
                        <hr class="my-0 py-0">
                        <div class="d-flex px-3 pb-3 pt-3 align-items-center justify-content-between fondo-4">
                            <h6 class="align-self-center my-auto">Precio</h6>
                            <a href="http://www.google.com" target="_blank" class="card-link text-white font-weight-bolder comprar">Comprar</a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="img-fluid card-img-top" src="img/fondo.jpeg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Prueba</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione.</p>
                        </div>
                        <hr class="my-0 py-0">
                        <div class="d-flex px-3 pb-3 pt-3 align-items-center justify-content-between fondo-4">
                            <h6 class="align-self-center my-auto">Precio</h6>
                            <a href="http://www.google.com" target="_blank" class="card-link text-white font-weight-bolder comprar">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 py-4">
                        <h3>Beneficiados</h3>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div>
                            <h4>Ayacucho</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A molestias aspernatur corporis delectus aliquam.</p>
                        </div>
                        <div>
                            <h4>Huancavelica</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A molestias aspernatur corporis delectus aliquam.</p>
                        </div>
                        <div>
                            <h4>Tarma</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A molestias aspernatur corporis delectus aliquam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-md-flex">
                <img src="img/sabores.svg" width=110 height=110 alt="">
                <h2 class="align-self-center">Frutados</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                <div class="card-columns">
                    <div class="card">
                        <img class="img-fluid card-img-top" src="img/fondo.jpeg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Prueba</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione.</p>
                        </div>
                        <hr class="my-0 py-0">
                        <div class="d-flex px-3 pb-3 pt-3 align-items-center justify-content-between fondo-4">
                            <h6 class="align-self-center my-auto">Precio</h6>
                            <a href="http://www.google.com" target="_blank" class="card-link text-white font-weight-bolder comprar">Comprar</a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="img-fluid card-img-top" src="img/anis.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Prueba</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione.</p>
                        </div>
                        <hr class="my-0 py-0">
                        <div class="d-flex px-3 pb-3 pt-3 align-items-center justify-content-between fondo-4">
                            <h6 class="align-self-center my-auto">Precio</h6>
                            <a href="http://www.google.com" target="_blank" class="card-link text-white font-weight-bolder comprar">Comprar</a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="img-fluid card-img-top" src="img/cedron.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Prueba</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione.</p>
                        </div>
                        <hr class="my-0 py-0">
                        <div class="d-flex px-3 pb-3 pt-3 align-items-center justify-content-between fondo-4">
                            <h6 class="align-self-center my-auto">Precio</h6>
                            <a href="http://www.google.com" target="_blank" class="card-link text-white font-weight-bolder comprar">Comprar</a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="img-fluid card-img-top" src="img/manzanilla.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Prueba</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione.</p>
                        </div>
                        <hr class="my-0 py-0">
                        <div class="d-flex px-3 pb-3 pt-3 align-items-center justify-content-between fondo-4">
                            <h6 class="align-self-center my-auto">Precio</h6>
                            <a href="http://www.google.com" target="_blank" class="card-link text-white font-weight-bolder comprar">Comprar</a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="img-fluid card-img-top" src="img/rosas.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Prueba</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione.</p>
                        </div>
                        <hr class="my-0 py-0">
                        <div class="d-flex px-3 pb-3 pt-3 align-items-center justify-content-between fondo-4">
                            <h6 class="align-self-center my-auto">Precio</h6>
                            <a href="http://www.google.com" target="_blank" class="card-link text-white font-weight-bolder comprar">Comprar</a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="img-fluid card-img-top" src="img/fondo.jpeg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Prueba</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione.</p>
                        </div>
                        <hr class="my-0 py-0">
                        <div class="d-flex px-3 pb-3 pt-3 align-items-center justify-content-between fondo-4">
                            <h6 class="align-self-center my-auto">Precio</h6>
                            <a href="http://www.google.com" target="_blank" class="card-link text-white font-weight-bolder comprar">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 py-4">
                        <h3>Beneficiados</h3>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div>
                            <h4>Ayacucho</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A molestias aspernatur corporis delectus aliquam.</p>
                        </div>
                        <div>
                            <h4>Huancavelica</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A molestias aspernatur corporis delectus aliquam.</p>
                        </div>
                        <div>
                            <h4>Tarma</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A molestias aspernatur corporis delectus aliquam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Pie de Página -->
    <footer class="container-fluid fondo-3 py-3">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-md-flex justify-content-md-around text-center">
                <span class="letra-t">&copy 2019. Todos los derechos reservados.</span>
                <div class="letra-t"><span>Desarrollado por : </span><a class="text-white" href="http://www.arcoiris.pe" target="_blank">Arco Iris Comunicación Integral</a></div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>